<h1>Login</h1>

<%= bootstrap_form_for :user do |f| %>

  <%= f.text_field :email, placeholder: "Your email", icon: "user" %>
  <%= f.password_field :password, placeholder: "Your password", icon: "lock" %>
  <%= f.submit "Login", class: "btn btn-primary" %>

<% end %>


<%= link_to "Forgot password?", new_password_path %>
